<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="Server" value="200.100.100.227"/>
    <add key="DBNane" value="STBL_PSES"/>
    <add key="User" value="sa"/>
    <add key="PW" value="siix@123456"/>
    <add key="PoolSize" value="800"/>
    <add key="Timeout" value="9000"/>
    <add key="TimesSec" value="1"/>
    <add key="Line" value="UMU4-01"/>
    <add key="FCT2" value="0"/>
    <add key="TargetPaht" value="D:\Test UMU4\to_umu\"/>
    <add key="DestPath" value="D:\Test UMU4\to_umu\Export\"/>
  </appSettings>
</configuration>